@using TravelTripProje.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<body>
    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot" style="margin-left:80px">Work And Travel Rehberi</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/glass.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Restoranlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/flight.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Uçuşlar</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/group.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Yapılacak Şeyler</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/key.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Araba Kiralama</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">

                        <div class="slider" style="width:600px; height:400px;">
                            <ul class="rslides" id="slider1">
                                @foreach (var x in Model)
                                {
                                    <li><img src="@x.BlogImage" alt=""></li>
                                    @*<li><img src="~/web/images/img2.jpg" alt=""></li>
                                    <li><img src="~/web/images/img3.jpg" alt=""></li>
                                    <li><img src="~/web/images/img4.jpg" alt=""></li>*@
                                }

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>Work And Travel Bilgilendirme Bloğuma Hoşgeldiniz!</h3>

                    <p>Herkese merhaba. Adım Onurcan Şimşek. Bilgisayar Mühendisliği son sınıf öğrencisiyim.
                    2019 yılında Work And Travel programına katıldım. Bu projeyi hem Work and Travel programı
                    hakkında bilgi sahibi olmak isteyenler için ve aynı zamanda yazılım konusunda kendimi
                    geliştirebilmek için yapıyorum.Tecrübelerimi size aktarabilmek için kendi yapmış olduğum
                    Mvc5 üzerine kurulu dinamik web projesidir.Murat Yücedağ hocama burdan bol selamlar!</p>

                </div>
                @Html.Action("Partial1","Default")            <!-- Önce Partial'ın ismi , sonra controller'ın ismi-->
                <div class="grids">
                    <div class="box1">
                        @Html.Action("Partial3","Default")
                        @Html.Action("Partial4","Default")
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

